Source: sonic-pas-config-s6000
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/Azure/sonic-pas-config-s6000
Vcs-Git: https://github.com/Azure/sonic-pas-config-s6000.git

Package: sonic-platform-s6000-config
Provides: sonic-platform-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Platform specific files and packages for  Dell Networking S6000-ON

